.contenedor{
    display: flex;
    position: relative;
    width: 100%;
}

.fondo-image{
    width: 100%;
    z-index: 10;
}

.frente-image{
    position: absolute;
    top: 10%;
    right: 5%;
    width: 30%;
    z-index: 20;
}


.card-button{
    padding: 4px;
    border-radius: 30%;
    border: 1px solid #EDA836;
}