.navbar{
    display: grid;
    grid-template-columns:15% 70% 15%;
    height: auto;
    margin-bottom: 1rem;
}
.menu, .menu-icons{
    display: flex;
   align-items: center;
   justify-content: center;
}

.menu{
    width: 75%;
}

.menu-icons{
    display: grid;
    grid-template-columns: 108px 15px 15px;
    column-gap: 15px;
    margin-right: 20px;
}

.nav-logo{
    height: 15px;
    width: 15px;
}

.search{ 
    line-height: 20px;
    transition:all .7 ease;
}

.blife-logo{
    height: 35px;
    margin-left: 0;
}

.a-menu{
    justify-content: center;
    text-decoration: none;
    display: flex;
    font-weight: 700;
    font-size: 16px;
    width: 128px;   
    height: 25px;
}

.a-menu:hover{
    background-color: #EDA836;
    border-radius: 22px;
    width: 128px;
    height: 25px;
  
}

.nav-button{
    background-color: white;
    border: none;
    cursor: pointer;
}

.container{
    display: grid;
    grid-template-columns: 85% 15%;
    transform: translate(0,-8px); 
    z-index: 100;
}

.container:hover input{
    width: 115px;
    border: 1px solid hsl(0, 0%, 88%);
    border-radius: 20px;
}

input{
    outline: none;
    box-sizing: border-box;
    width: 0;
    height: 100%;
    transition: all .3s ease; 
    border: none;
}


.btn img{
    text-align: center;
    cursor: pointer;
    transition: .4;
}

       