.navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: auto;
    margin-bottom: 1rem;
}
.menu, .menu-icons{
    display: flex;
    justify-content: center;
}

.menu{
    width: 75%;
}

.menu-icons{
    column-gap: 15px;
    margin-right: 20px;
}

.nav-logo{
    height: 15px;
    width: 15px;
}

.blife-logo{
    height: 35px;
    margin-left: 20px;
}

.a-menu{
    justify-content: center;
    text-decoration: none;
    display: flex;
    font-weight: 700;
    font-size: 16px;
    width: 128px;   
    height: 25px;
}

.a-menu:hover{
    background-color: #EDA836;
    border-radius: 22px;
    width: 128px;
    height: 25px;
  
}

.nav-button{
    background-color: white;
    border: none;
    cursor: pointer;
}